
.mainContainer {
    background-color: rgb(230, 186, 238);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    
}
.descriptionContainer {
    margin:2rem;
}
.container {
    background-color: rgb(230, 186, 238);
    border-radius: 7px;
    width: 98%;
    height: 60px;
    margin: 1rem;
}

.itemOne {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: medium;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

h3 {
    margin: 1.5rem;
}

.itemTwo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid whitesmoke;
    width: 90%;
    padding: 2.5rem;
    border-radius: 8px;
    margin: 2rem;
    background-color: whitesmoke;
    margin: 8rem;
    display: flex;
    flex-direction: row;
    
}

.itemThree {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid whitesmoke;
    width: 60%;
    border-radius: 8px;
    margin: 2rem;
    background-color: whitesmoke;
    margin: 8rem;
}

.itemFour {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid whitesmoke;
    width: 60%;
    border-radius: 8px;
    margin: 2rem;
    background-color: whitesmoke;
    margin: 8rem;
}

.homeContainer {
    position: relative;
    background-image: url("../Images/pink.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cardGroupContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    
}
.cardImage {
    height: 20rem;
    margin: 1rem;
    
}
.img {
    border-radius: 50%;
    height: 170px;
    width: auto;
    margin: 1rem;
    border-radius: 70%;
    
}
@media screen and (width: 768px ) {
    .homeContainer {
       width: auto;
    }
    .itemTwo {
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    .cardContainer {
        width: 60%;
    }
    .cardImage {
        height:12rem;
        margin:0%;
    }
}

.titleCard {
    color: rgb(230, 186, 238);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.subTitleCard {
    color: rgb(230, 186, 238);
    font-size: 20px;
       
}
p {
    color: grey;
}

ul {
    color: grey;
}

.projects {
    background-image: url("../Images/pink.jpeg");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.cardContainer {
    border: 1px solid whitesmoke;
    border-radius: 8px;
    width: 85%;
    margin: 2rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: whitesmoke;
    
}

.cardGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 2rem;
}

.cardGroup1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 2rem;
}

.card1 {
    border: 1px solid rgb(230, 186, 238);
    width: 80%;
    border-radius: 8px;
    /* margin: 2rem; */
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card2 {
    border: 1px solid rgb(230, 186, 238);
    width: 80%;
    border-radius: 8px;
    /* margin: 2rem; */
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card3 {
    border: 1px solid rgb(230, 186, 238);
    width: 80%;
    border-radius: 8px;
    /* margin: 2rem; */
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card4 {
    border: 1px solid rgb(230, 186, 238);
    width: 80%;
    border-radius: 8px;
    /* margin: 2rem; */
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 390px) {
    .mainContainer {
        height: auto;
        justify-content: center;
        padding: 0.5rem;
        font-size: 1px;
    }

    .itemOne h3 {
        font-size: 12px;
    }
    .itemTwo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin:2.5rem;
    }

    .titleCard {
        font-size: 29px;
    }
    .subTitleCard {
        font-size: 18px;
    }
    .descriptionContainer {
        margin:0.2rem;
    }
    .img {
       justify-content: center;
       height:120px;
    }
   
}